<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar style="--padding-start: 12px;--padding-end: 12px;">
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}} Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- fab btn with add -->
  <ion-fab vertical="bottom" style="outline: none;" color="primary" horizontal="end" slot="fixed" [routerLink]="['add-task']">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" size-xl="4" size-md="6" offset-md="3" offset-lg="4" offset-xl="4">

        <!-- date time and filter -->
        <!-- <span>
          <ion-datetime class="day" [value]="date" display-timezone="utc" display-format="DDDD" readonly="true">
          </ion-datetime>
        </span> -->
        <div class="date-filter default-pad">
          <!-- Filter options -->
          <!-- <ion-select value="all" class="filter-tasks" color="secondary" (ionChange)="filterTasks($event)" >
            <ion-select-option value="all">All Tasks</ion-select-option>
            <ion-select-option value="due">Due Tasks</ion-select-option>
            <ion-select-option value="com">Completed Tasks</ion-select-option>
            <ion-select-option value="asc">High Priority Tasks</ion-select-option>
            <ion-select-option value="des">Low Priority Tasks</ion-select-option>
          </ion-select> -->

          <!-- date -->
          <ion-datetime class="date" [value]="date" display-timezone="utc" display-format="DDDD , MMM DD, YYYY "
            readonly="true">
          </ion-datetime>

        </div>

        <!-- List of tasks -->

        <div class="default-pad" *ngIf="data">
          <div>
            <!-- ng-for -->
            <div *ngFor="let task of tasks" >
              <!-- task card -->
              <div class="task-card"  [class]="getPiorClass(task.priority)" >
                <ion-row>
                  <ion-col size="1" class="check-btn ion-activatable ripple-parent" (click)="taskStatus(task.tid,task.checklist,!task.done)" >
                    <ion-avatar [class]="doneTask(task.priority,task.done)" >
                    </ion-avatar>
                    <ion-ripple-effect></ion-ripple-effect>
                  </ion-col>
                  <ion-col size="11" class="task-desc ion-activatable ripple-parent" [routerLink]="['task',task.tid]" >
                    <h4>{{task.title}}</h4>
                    <p>
                      {{task.description}}
                    </p>
                    <div class="task-details">
                      <!-- <label>Sun, 30 Aug 2020, 12:00 am </label> -->
                      <label>{{ taskDate(task.dueDate)}}, {{taskTime(task.time)}} </label>
                      <label class="checklist"> <span> {{doneChecklist(task.checklist)}}/{{task.checklist.length}}</span></label>
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </div>
        </div>
        <ion-col size-lg="4" size-xl="4" size-md="6" offset-md="3" offset-lg="4" offset-xl="4" *ngIf="!data">
          <div class="ion-padding custom-skeleton">
            <ion-skeleton-text animated style="height: 80px;margin-bottom: 20px;" *ngFor="let item of [1,2,3,4,5,6,7]"></ion-skeleton-text>
          </div>
        </ion-col>

        <ion-col size-lg="4" size-xl="4" size-md="6" offset-md="3" offset-lg="4" offset-xl="4" style="text-align: center;" *ngIf="!dataAvail">
          <div class="ion-padding custom-skeleton">
            <h1 style="opacity: 0.8;
            font-family: amatic;
            font-size: 45px;
            word-spacing: 10px;">No task available</h1>
          </div>
        </ion-col> 


      </ion-col>

      

    </ion-row>
  </ion-grid>
</ion-content>